name: Ghost Monitor Loop

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */2 * * *' # Перезапуск каждые 2 часа (для страховки)
  workflow_dispatch:

jobs:
  run-ghost:
    runs-on: ubuntu-latest
    timeout-minutes: 350 

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install telethon requests firebase-admin

      - name: Run Engine
        env:
          TG_API_ID: ${{ secrets.TG_API_ID }}
          TG_API_HASH: ${{ secrets.TG_API_HASH }}
        # Запускаем БЕЗ знака '&' в конце, чтобы видеть логи
        run: python main.py
