name: TG_Monitor
on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *' # Перезапуск каждые 6 часов автоматически
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install
        run: pip install telethon requests
      - name: Run
        env:
          TG_API_ID: ${{ secrets.TG_API_ID }}
          TG_API_HASH: ${{ secrets.TG_API_HASH }}
        run: python main.py
        
